<div class="panel-container">
  <div class="left-panel">
    <div class="form-container">
      <label for="userSquareFootage">Your Unit's Square Footage:</label>
      <input type="number" id="userSquareFootage" [(ngModel)]="userSquareFootage" (input)="calculateInterest()">
    </div>

    <div *ngFor="let unitType of unitTypes; let i = index" class="unit-type-container">
      <div class="form-container">
        <label for="unitTypeSquareFootage{{i}}">Square Footage for Unit Type {{i + 1}}:</label>
        <input type="number" id="unitTypeSquareFootage{{i}}" [(ngModel)]="unitTypes[i].squareFootage" (input)="calculateInterest()">
      </div>

      <div class="form-container">
        <label for="unitTypeCount{{i}}">Number of Units for Type {{i + 1}}:</label>
        <input type="number" id="unitTypeCount{{i}}" [(ngModel)]="unitTypes[i].count" (input)="calculateInterest()">
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div *ngIf="errorMessage !== ''" class="error-container">
      <p class="error-message">{{ errorMessage }}</p>
    </div>

    <div *ngIf="percentageInterest !== null" class="result-container">
      <p>Your percentage interest in the condominium community is: {{ percentageInterest.toFixed(2) }}%</p>
    </div>
  </div>
</div>
