<div class="container">
  <div class="header">
    <h2>Making You Feel And Look Your Best</h2>
    <p>Daniel Zigler is a cosmetologist.</p>

    <p>His work has been featured in Paul Mitchell shows, Nordstrom Trend Shows, and Nieman Marcus Fashion Shows.</p>
    
    <p>He specializes in cutting, styling, and color.</p>
    
    <p>Daniel is passionate about making people feel and look their best, revealing their true selves by bringing out their innate beauty.</p>
    
    <p>He holds certifications in design cutting, specialty balayage, extensions, and color. He is currently working on his Master’s Degree in Cosmetology from Paul Mitchell.</p>
    
  </div>
  <div class="photo-2">
    <app-photo-album></app-photo-album>
  </div>

</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
